################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Build/x64-Debug
/Game/.vs
/Bin/Client
/Bin/Server/GatewayServer.pdb
/Bin/Server/GatewayServer.ilk
/Bin/Server/GatewayServer.exe
/Game/Client/Lib
/Game/Server/Lib
